<#import "/common/login.ftl" as login> 
<#include "/common/taglibs.ftl" />
<@login.html title="SB Admin 2 - Bootstrap Admin Theme">
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="login-panel panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Please Sign In</h3>
			</div>
			<div class="panel-body">
				<form role="form" action="login.html" method="post">
					<fieldset>
						<div class="form-group">
							<@spring.bind path="user.name" />
							<input class="form-control" placeholder="UserName"  name="${spring.status.expression}" value="${spring.status.value?default('')}"
								type="text" autofocus>
							<@spring.showErrors ', ' 'error'/>
						</div>
						<div class="form-group">
							<@spring.bind path="user.password" />
							<input class="form-control" placeholder="Password"  name="${spring.status.expression}" value="${spring.status.value?default('')}"
								type="password" autofocus>
							<@spring.showErrors ', ' 'error'/>

						</div>
						<div class="checkbox">
							<label> <input name="remember" type="checkbox"
								value="Remember Me">Remember Me
							</label>
						</div>
						<!-- Change this to a button or input when using this as a form -->
						<button class="btn btn-lg btn-success btn-block">Login</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
</@login.html>
