<#include "/common/student.ftl" />
<html>
<head>
<style>
body {
	height: 100%;
	margin: 0;
	background: url(<@basePath/>/assets/img/books.jpg);
	background-size: 1600px 900px;
	background-repeat: no-repeat;
	display: compact;
}
</style>
</head>
<body>
	<#include "/student/top.html" />
	<div class="container">
		<div class="jumbotron">
			<div>
				<h1>Welcome to Online Student Enrollment!</h1>
				<p>To get started, you need to enter your details to enroll with
					us. Or login to access your details, if you are already enrolled.</p>
			</div>

			<a class="btn btn-primary" href="<@basePath/>/student/signup.html">Signup » </a> 
			<a class="btn btn-primary" href="<@basePath/>/student/login.html">Login » </a>
		</div>

		<div></div>
	</div>
</script>

</script>

</body>
</html>
